*{ margin: 0; padding: 0; box-sizing: border-box;}
*::after {box-sizing: border-box;}
*::before {box-sizing: border-box;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;}
ul, ol {list-style: none;}
a {
 text-decoration: none; color: inherit;
}
$padding: 6px;
$main-color: #1890ff;
.site-page {
 background: #fff;
}
.site-header {
 background-color: #e6f7ff;
 line-height: 34px;
 padding: 8px;
 color: #333;
 font-size: 18px;
}
.site-aside {
 min-width: 13em;
 h2 {
   font-size: 18px;
   padding: 6px;
  }
 ul {
  > li {
   //padding: $padding;
   a {
    color: #333;
    display: block;
    padding: $padding;
    &:hover {
     color: $main-color;
    }
    &.active {
     background-color: #e6f7ff;
     color: $main-color;
    }
   }
  }
 }
}
.site-main {
 padding-top: 16px;
}
.site-footer {
 font-size: 12px;
 text-align: center;
 color: #666;
 padding: 8px 0;
 border-top: 1px solid #eee;
}