.a {
 height: 40px;
 background-color: #4285f4;
 opacity: .8;
 color: #fff;
 margin: 4px 0;
}
.b {
 background-color: lighten(#4285f4, 8%);
 opacity: .8;
 color: #fff;
 margin: 4px 0;
}
.c {
 background-color: #ea4335;
 width: 180px;
 opacity: .8;
 color: #fff;
 margin: 4px 0;
}
.c + .b, .b + .c, .c + .ui-layout {
 margin-left: 8px;
}